body{
    background: rgb(222,235,247);
}

frame{
    background-color: rgb(222,235,247);
}
img.clothes {
    display: block;
    margin-left: auto;
    margin-right: auto
}
img.umbrella {
    display: block;
    margin-left: auto;
    margin-right: auto
}
#clothes-div {
    font-family: Candara;
    text-align: center;
    font-size: 16px;
    color: rgb(0,32,96);
    background: rgb(222,235,247);
}
#clothes-text {
    font-family: Candara;
    text-align: center;
    font-size: 15px;
    color: rgb(0,32,96);
    background: rgb(222,235,247);
}
#button-div {
    position: absolute;
    right: 0;
    top: 0;
}
#skoltech-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

#settings-img {
    position: absolute;
    left: 0;
    bottom: 0;
}

#title-div {
    font-family: Candara;
    font-size: 26px;
    color: rgb(222,235,247);
    background: rgb(0,32,96);
}

#fill-div {
    font-family: Candara;
    font-size: 20px;
    color: rgb(0,32,96);
    background: rgb(222,235,247);
}

#report-div {
    font-family: Candara;
    text-align: center;
    font-size: 16px;
    color: rgb(46,117,182);
    background: rgb(222,235,247);
}

#home-div {
    font-family: Candara;
    font-size: 16px;
    color: rgb(222,235,247);
    background: rgb(0,32,96);
}
#umbrella-div {
    font-family: Candara;
    font-size: 20px;
    color: rgb(255,0,0);
    background: rgb(222,235,247);
}