<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="stylesheet" type="" href="{{ url_for('static', filename='styles/style.css') }}" />
        <meta charset="utf-8" http-equiv="Cache-Control" content="no-cache">
        <title>Report</title>
    </head>
    <body>
        <div id="report-div">
            Today is light rain at 21 o'clock . You can feel moderate breeze. Temperature is about 7. Day temperature is about 7 and night is 6. 
        </div>
    </body>
</html>