<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="stylesheet" type="" href="{{ url_for('static', filename='styles/style.css') }}" />
        <meta charset="utf-8" http-equiv="Cache-Control" content="no-cache">
        <title>Umbrella</title>
    </head>
    <body>
        <div id="umbrella-div">
                Take Umbrella!
                <img class="umbrella" src="{{ url_for('static', filename = 'umbrella.bmp') }}" width="65" height="65" border="0">

        </div>
    </body>
</html>